<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "sr-only" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="field">
    <%= form.label :text, class: "sr-only" %>
    <%= form.text_area :text, class: "form-control", placeholder: "Your Question", rows: "10"  %>
  </div>

  <div class="actions">
    <%= form.submit "Ask Question", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
