Hello <%= current_user.email %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.user_id %></td>
        <td><%= question.title %></td>
        <td><%= truncate(question.text, length: 50) %></td>
        <td><%= link_to 'Find out more', question %></td>
      </tr>
    <% end %>
  </tbody>
</table>
