<div class="row">
  <div class="col-md-3">
    <div class="pill p-4">
      <h4 class="mt-4 mb-3">Hello <%= current_user.full_name %>!</h4>
      <h5 class="mt-5">Filter</h5>
      <blockquote>coming soon</blockquote>
    </div>
  </div>

  <div class="col-md-9">
    <% @questions.each do |question| %>
      <div class="question pill p-2 mb-4">
        <div class="row header">
          <div class="col-2 col-lg-1">
            <%= link_to question.user.user_profile do %>
              <img src="<%= gravatar_url question.user, 100 %>" class="rounded-circle profile" width="50" height="50" alt="<%= question.user.full_name %> picture" />
            <% end %>
          </div>
          <div class="col-10 col-lg-11">
            <div class="details pt-1">
              <%= link_to question.user.user_profile do %>
                <span class="title"><%= full_title(question.user) %></span>
              <% end %><br />
              <span class="asked-at text-muted">Asked <%= question.created_at %></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 col-lg-1 d-flex align-items-end flex-column pr-0 pt-3">
            <div class="voting text-pink">
              <a class="vote up">
                <svg class="bi bi-caret-up-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 00.753-1.659l-4.796-5.48a1 1 0 00-1.506 0z"/>
                </svg>
              </a>
              <div class="count">12</div>
              <a class="vote down">
                <svg class="bi bi-caret-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 001.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 00-.753 1.659z" clip-rule="evenodd"/>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-10 col-lg-11">
            <div class="text">
              <%= link_to question, class: "detail-link" do %>
                <h5><%= truncate(question.title, length: 150) %></h5>
              <% end %>
              <% question.tags.each do |tag| %>
                <span class="badge badge-pill badge-primary pink-light"><%= tag %></span>
              <% end %>
            </div>
            <div class="answers pt-2">
              <span class="counter"><%= question.answers.count %> Answers</span>

              <hr class="mt-0">

              <div class="container answers">
                <% question.answers.each do |answer| %>
                  <div class="row answer header mb-3">
                    <div class="col-2 col-lg-1">
                      <%= link_to answer.user.user_profile do %>
                        <img src="<%= gravatar_url answer.user, 100 %>" class="rounded-circle profile" width="50" height="50" alt="<%= answer.user.full_name %> picture" />
                      <% end %>
                    </div>

                    <div class="col-10 col-lg-11">
                      <div class="answer body p-1 pl-2 pb-2 pr-3">
                        <div class="details pt-1">
                          <%= link_to answer.user.user_profile do %>
                            <span class="title"><%= full_title(answer.user) %></span>
                          <% end %><br />
                          <span class="asked-at text-muted">Answered <%= answer.created_at %></span>
                        </div>
                        <div class="text pt-2"><%= answer.text %></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <%= link_to question_cta, question, class: "btn btn-sm btn-primary pink detail-link" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
