<div class="row">
  <div class="col-md-3">
    <h4 class="mt-4 mb-3">Hello <%= current_user.first_name %>!</h4>
    <h5 class="mt-5">Filter</h5>
    <% Question.tags.each do |tag| %>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="<%= tag %>">
        <label class="custom-control-label" for="<%= tag %>"><%= tag %></label>
      </div>
    <% end %>
  </div>

  <div class="col-md-9">
    <% if current_user.mentor? %>
      <h2>Help mentees with their problems</h2>
    <% else %>
      <h2>Check out Questions by Mentees</h2>
    <% end %>
    <div class="questions-counter"><%= @questions.count %> Questions</div>

    <% @questions.each do |question| %>
      <div class="question mb-4 p-2">
        <div class="row">
          <div class="col-2">
            <img src="/img/<%= question.user.role %>.jpg" class="rounded-circle" width="50" height="50" alt="<%= current_user.first_name %> picture" />
            <%= question.user.first_name %>
          </div>
          <div class="col-10">
            <strong><%= question.title %></strong><br />
            <%= truncate(question.text, length: 50) %><br />
            <%= link_to 'Find out more', question %><br />
            <% question.tags.each do |tag| %>
              <span class="badge badge-pill badge-primary"><%= tag %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
