<div class="row">
  <div class="col-md-3">
    <div class="pill p-4">
      <h4 class="mt-4 mb-3">Hello <%= current_user.full_name %>!</h4>
      <h5 class="mt-5">Filter</h5>
      <blockquote>coming soon</blockquote>
    </div>
  </div>

  <div class="col-md-9">
    <% @questions.each do |question| %>
      <div class="question pill p-2 mb-4">
        <div class="row header">
          <div class="col-2 col-lg-1 text-center justify-content-center">
            <%= link_to question.user.user_profile do %>
              <img src="<%= gravatar_url question.user, 100 %>" class="rounded-circle profile" width="50" height="50" alt="<%= question.user.full_name %> picture" />
            <% end %>
          </div>
          <div class="col-10 col-lg-11">
            <div class="details pt-1">
              <%= link_to question.user.user_profile do %>
                <span class="title"><%= full_title(question.user) %></span>
              <% end %><br />
              <span class="asked-at text-muted">Asked <%= question.created_at %></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 col-lg-1"></div>
          <div class="col-10 col-lg-11">
            <div class="text">
              <%= link_to question, class: "detail-link" do %>
                <h5><%= truncate(question.title, length: 150) %></h5>
              <% end %>
              <% question.tags.each do |tag| %>
                <span class="badge badge-pill badge-primary pink-light"><%= tag %></span>
              <% end %>
            </div>
            <div class="answers pt-2">
              <span class="counter"><%= question.answers.count %> Answers</span>
              <hr class="mt-0">
              <%= link_to question_cta, question, class: "btn btn-sm btn-primary pink detail-link" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
