<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="col-2 col-md-1 d-none d-md-block text-center">
      <img src="<%= gravatar_url current_user, 100 %>" class="rounded-circle profile" width="40" height="40" alt="<%= current_user.full_name %> picture" />
    </div>

    <div class="form-group col-12 col-md-9">
      <%= form.label :text, class: "sr-only" %>
      <%= form.text_area :text, class: "form-control", placeholder: "Write your answer here", rows: "1" %>
    </div>

    <div class="form-group col-12 col-md-2 actions">
      <%= form.submit "Reply", class: "btn btn-primary btn-block pink" %>
    </div>
    <%= form.hidden_field :question_id, value: @question.id %>
  </div>

<% end %>
