<h5 class="pt-5 pb-2">Tell us more about your venture</h5>

<div class="field">
  <%= f.label :team_description, class: "text-muted" %>
  <%= f.text_area :team_description, placeholder: "Your profile / Team description", rows: 5, class: "form-control" %>
</div>

<div class="field">
  <%= f.label :company_name, "Venture Name", class: "text-muted" %>
  <%= f.text_field :company_name, placeholder: "Venture Name", class: "form-control" %>
</div>

<div class="field">
  <%= f.label :company_website_url, "Venture website URL", class: "text-muted" %>
  <%= f.text_field :company_website_url, placeholder: "Venture website URL", class: "form-control" %>
</div>

<div class="field">
  <%= f.label :venture_founded, "When was your venture founded?", class: "text-muted" %>
  <%= f.text_field :venture_founded, placeholder: "Venture Founding Year", class: "form-control" %>
</div>

<div class="field">
  <%= f.label :venture_description, "Tell us about your venture", class: "text-muted" %>
  <%= f.text_area :venture_description, placeholder: "Tell us about your venture", rows: 5, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :venture_stage, "Current Stage", class: "text-muted" %>
  <%= f.select :venture_stage, options_from_collection_for_select(UserProfile.venture_stages.to_a, :first, :last, selected: @user_profile.venture_stage), {include_blank: "--- Your venture's current stage ---"}, {class: "form-control" } %>
</div>

<div class="form-group">
  <%= f.label :sdg_goal, "SDG Focus", class: "text-muted" %>
  <%= f.select :sdg_goal, options_from_collection_for_select(UserProfile.sdg_goals.to_a, :first, :last, selected: @user_profile.sdg_goal), {include_blank: "--- Your main SDG focus ---"}, {class: "form-control" } %>
</div>

<div class="form-group">
  <%= f.label :industry, "Industry", class: "text-muted" %>
  <%= f.select :industry, options_from_collection_for_select(UserProfile.industries.to_a, :first, :last, selected: @user_profile.industry), {include_blank: "--- Industry best describing your venture ---"}, {class: "form-control" } %>
</div>

<div class="form-group">
  <%= f.label :team_size, "Team Size", class: "text-muted" %>
  <%= f.select :team_size, options_from_collection_for_select(UserProfile.team_sizes.to_a, :first, :last, selected: @user_profile.team_size), {include_blank: "--- Team Size ---"}, {class: "form-control" } %>
</div>

<div class="form-group">
  <%= f.label :operating_countries, "Operating Countries", class: "text-muted" %>
  <%= f.country_select :operating_countries, {}, {multiple: true, size: 5, class: "form-control" } %>
</div>
