<div class="row profile-edit">
  <div class="col-12">
    <div class="mb-4 p-4 pill">
        <div class="d-flex justify-content-center">
          <div class="align-items-center justify-content-center text-center">
          <img src="<%= gravatar_url current_user, 200 %>" class="rounded-circle" width="100" height="100" alt="<%= current_user.full_name %> picture" /><br>
          Hey <strong><%= current_user.full_name %></strong>!<br>
          <a href="https://en.gravatar.com/support/about-profiles/" target="_blank" class="gravatar font-weight-light">change your profile picture</a><br>
          </div>
        </div>

      <%= form_with(model: @profile, local: true) do |f| %>
        <h5 class="pt-3 pb-2">Tell us more about yourself</h5>

        <% if @profile.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

            <ul>
              <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :job_title, class: "sr-only" %>
          <%= f.text_field :job_title, autofocus: true, placeholder: "Job Title", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :location, class: "sr-only" %>
          <%= f.text_field :location, autocomplete: "country-name", placeholder: "Location", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :languages_spoken, "Languages Spoken", class: "text-muted" %>
          <%= f.select :languages_spoken, options_from_collection_for_select(LANGUAGES_SPOKEN, :first, :last, selected: @profile.languages_spoken), {}, {multiple: true, size: 5, class: "form-control" } %>
        </div>

        <div class="actions">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
